h1, h2, h3 {
    text-align: center;
}

body {
	background-color: #dfe3ee;
}

#header {
	height: 80px;
	background-color: #0C2577;
	background-image: url("images/quantum-tunnel.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#header img {
	height: 80px;
	float: left;
}

#headertext {
	float: right;
	color: #eee;
}

#content {
	font-family: "Verdana", sans-serif;
	margin-top: 20px;
}

#content-main {
	background-color: #8592bb;
}

.imgur-embed-iframe-pub {
	width: 100%;
}

.navbar-blue {
	margin-bottom: 0px;
	background-color: #0C2577;
	border-color: #080808;
	border-radius: 0px;
	border-width: 1px 0px;
}

.navbar-nav > .active > a, .navbar-nav > .active > a:focus, .navbar-nav > .active > a:hover {
    background-color: #8592bb;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #8592bb;
}

.navbox {
	background-color: #8592bb;
}

