// main: style.scss

/*
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
.message-info:before, .message-success:before, .message-warning:before, .message-error:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
	margin-right: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.message-info:before {
    content: '\f05a';
}
.message-success:before {
    content: '\f00c';
}
.message-warning:before {
    content: '\f071';
}
.message-error:before {
    content: '\f057';
}
*/

.message {
	border: 1px solid;
	padding: 10px 10px 10px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 20px;
}

.message-info {
	@extend .message;
    color: #00529B;
    background-color: #BDE5F8;
	background-image: url('../../media/icons/info.png');
}

.message-success {
	@extend .message;
    color: #4F8A10;
    background-color: #DFF2BF;
	background-image:url('../../media/icons/success.png');
}

.message-warning {
	@extend .message;
    color: #9F6000;
    background-color: #FEEFB3;
	background-image: url('../../media/icons/warning.png');
}

.message-error {
	@extend .message;
    color: #D8000C;
    background-color: #FFBABA;
	background-image: url('../../media/icons/error.png');
}

@media only screen and (max-width: 767px) {
	#alerts {
		padding: 0px 15px;
		background-color: #f8f9fb;
	}
}

.alert {
	@extend .message;
	width: 100% !important;
	margin: 0px 0px 20px 0px !important;
	padding-left: 40px !important;
}

.alert-close {
	@extend .message;
	width: calc(100% - 20px) !important;
	margin: 0px 10px 20px !important;
	padding: 4px 10px;
	color: #00529B !important;
	background-color: #BDE5F8 !important;
}

.alert-info {
	@extend .alert;
    color: #00529B !important;
    background-color: #BDE5F8 !important;
	background-image: url('../../media/icons/info.png');
}

.alert-success {
	@extend .alert;
    color: #4F8A10 !important;
    background-color: #DFF2BF !important;
	background-image:url('../../media/icons/success.png');
}

.alert-warning {
	@extend .alert;
    color: #9F6000 !important;
    background-color: #FEEFB3 !important;
	background-image: url('../../media/icons/warning.png');
}

.alert-error {
	@extend .alert;
    color: #D8000C !important;
    background-color: #FFBABA !important;
	background-image: url('../../media/icons/error.png');
}
