// main: style.scss

.table-fancy {
	border: 1px solid #06123B;
	width: 100%;
	margin-bottom: 10px;
    table-layout: auto;
}

.table-fancy > tbody > tr > td > input {
    width: 100%;
}

.table-fancy > tbody > tr > td, .table-fancy > tbody > tr > th {
    padding: 6px;
	border: 1px dotted #06123B;
	overflow: hidden;
}

.table-fancy > tbody > tr {
    border-bottom: 1px solid #06123B;
}

.table-fancy > tbody > tr > td {
    word-wrap: break-word;
}

.table-fancy > tbody > tr > th {
	border-bottom: 2px solid #06123B;
}

.table-fancy > tbody > tr:nth-child(2n) {
    background-color: #dfe3ee;
}

.table-fancy > tbody > tr:nth-child(2n+1) {
    background-color: #fff;
}

.table-thinner {
	width: 90%;
	margin-left: 5%;
}

.complete {
    text-decoration: line-through;
}
