h1, h2, h3 {
    text-align: center;
}

h1 > a, h1 > a:focus, h1 > a:hover, h2 > a, h2 > a:focus, h2 > a:hover {
	text-align: center;
	text-decoration: none;
	color: inherit;
	outline-width: 0px;
}

body {
	background-color: #dfe3ee;
	background-image: url("../../media/backgrounds/texture.png");
}

#header {
	height: 80px;
	background-color: #0c2577;
	background-image: url("../../media/backgrounds/quantum-tunnel.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#header > a > img {
	height: 80px;
	float: left;
}

#headertext {
	float: right;
	color: #eee;
}

#content {
	font-family: "Verdana", sans-serif;
	margin-top: 20px;
	color: #06123b;
}

#content-main {
	background-color: #f8f9fb;
	padding: 15px 15px 0px;
	margin-bottom: 20px;
}

#footer {
	font-family: "Verdana", sans-serif;
	color: #000;
	border: 0px dotted #000;
	border-top-width: 1px;
	background-image: url("../../media/backgrounds/swatch-grayblue.png");
	margin-bottom: 0px;
}

#footer-main {
	padding: 5px 15px 5px 10%;
}

#footer-main > h2 {
	margin-top: 0px;
	text-align: left;
}

#footer-main > p {
	margin-bottom: 0px;
}

/*
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
.message-info:before, .message-success:before, .message-warning:before, .message-error:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
	margin-right: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.message-info:before {
    content: '\f05a';
}
.message-success:before {
    content: '\f00c';
}
.message-warning:before {
    content: '\f071';
}
.message-error:before {
    content: '\f057';
}
*/

.message-info, .message-success, .message-warning, .message-error {
	border: 1px solid;
	padding: 10px 10px 10px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 20px;
}

.message-info {
    color: #00529B;
    background-color: #BDE5F8;
	background-image: url('../../media/icons/info.png');
}
.message-success {
    color: #4F8A10;
    background-color: #DFF2BF;
	background-image:url('../../media/icons/success.png');
}
.message-warning {
    color: #9F6000;
    background-color: #FEEFB3;
	background-image: url('../../media/icons/warning.png');
}
.message-error {
    color: #D8000C;
    background-color: #FFBABA;
	background-image: url('../../media/icons/error.png');
}

.complete {
    text-decoration: line-through;
}

.button {
	padding: 4px 10px 5px 10px;
	border: 1px solid #06123b;
	border-radius: 6px;
	background-color: #0c2577;
	color: #f8f9fb;
}

.button:hover, .button:focus {
	color: #f8f9fb;
	text-decoration: none;
}

.edit-item-button {
	float: right;
	padding: 8px 18px 9px 18px;
	margin-top: -52px;
	font-size: 18px;
}

.subject-button {
    padding: 5px 11px 6px 11px;
    font-size: 15px;
    float: right;
    margin-top: -40px;
}

.submit-button {
	padding: 3px 11px 4px 10px;
	margin-bottom: 10px;
}

.table-button {
	margin: -4px 0px;
}

.table-fancy {
	border: 1px solid #06123B;
	width: 100%;
	margin-bottom: 10px;
    table-layout: auto;
}

.table-fancy > tbody > tr > td > input {
    width: 100%;
}

.table-fancy > tbody > tr > td, .table-fancy > tbody > tr > th {
    padding: 6px;
	border: 1px dotted #06123B;
	overflow: hidden;
}

.table-fancy > tbody > tr {
    border-bottom: 1px solid #06123B;
}

.table-fancy > tbody > tr > td {
    word-wrap: break-word;
}

.table-fancy > tbody > tr > th {
	border-bottom: 2px solid #06123B;
}

.table-fancy > tbody > tr:nth-child(2n) {
    background-color: #dfe3ee;
}

.table-fancy > tbody > tr:nth-child(2n+1) {
    background-color: #fff;
}

.table-thinner {
	width: 90%;
	margin-left: 5%;
}

.discord {
	width: 100%;
	height: 600px;
	margin-bottom: 16px;
}

.paragraph-center, .paragraph-left, .paragraph-right {
	padding: 0px;
	margin-bottom: 15px;
	border: 0px dotted #06123b;
	border-bottom-width: 1px;
}

.paragraph-center > h2, .paragraph-left > h2, .paragraph-right > h2 {
	margin-top: 0px;
}

.paragraph-center {
	text-align: left;
}

.paragraph-left {
	text-align: left;
	padding-right: 7px;
}

.paragraph-left > h2 {
	text-align: left;
}

.paragraph-right {
	text-align: right;
	padding-left: 7px;
}

.paragraph-right > h2 {
	text-align: right;
}

.paragraph-scroll {
    /*overflow-x: auto;
    overflow-y: visible;*/
}

.imgur-embed-iframe-pub {
	width: 100%;
}

.calendar {
	border: 0;
	width: 100%;
	height: 700px;
}

.rooster-img {
    width: 100%;
}

.navbar-blue {
	margin-bottom: 0px;
	background-color: #0C2577;
	border-color: #080808;
	border-radius: 0px;
	border-width: 1px 0px;
}

/* begin style login box */
.login-field > input[type="text"], .login-field > input[type="password"] {
	font-weight: bold;
	margin: 0px 0px 5px -4px;
	padding: 3px 5px;
	width: 300px;
	max-width: 100%;
	border-radius: 3px;
	border: 2px solid #BBB;
	color: #666;
}

.login-field > label {
	margin-bottom: 1px;
	font-weight: normal;
	font-size: 90%;
	color: #666;
	letter-spacing: 1px;
	text-transform: uppercase;
	width: 100%;
}

.submit-button-bb {
	margin: 6px 0px -10px -3px;
	background: #0099B6 none repeat scroll 0% 0%;
	border-color: #0099B6;
	color: #FFF;
	font-size: 105%;
	font-weight: bold;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8);
	border: 1px solid #076D88;
	border-radius: 3px;
	padding: 6px 16px 7px;
	text-decoration: none;
}

#loginFormText {

}

#loginFormList > li {
    display: block;
}
/* end style login box*/

/* padding navbar items
.navbar-nav > li > a, .navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
	height: 40px;
}*/

/* active navbar item */
.navbar-nav > .active > a, .navbar-nav > .active > a:focus, .navbar-nav > .active > a:hover {
    color: #fff;
	background-color: #06123b;
}

/* hovered navbar item */
.nav > li > a:focus, .nav > li > a:hover {
	color: #fff;
    background-color: transparent;
}

/* navbar item */
.navbar-nav > li > a {
	color: #b6bdd6;
}

/* opened dropdown container item */
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    color: #fff;
	background-color: #06123b;
}

/* dropdown list */
.navbar-nav > li > .dropdown-menu {
	background-color: #dfe3ee;
}

/* active dropdown item */
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
	color: #06123b;
	background-color: #8592bb;
}

/* hovered dropdown item */
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	color: #01030b;
	background-color: #f5f6f9;
}

/* dropdown item */
.dropdown-menu > li > a {
	color: #01030b;
}

/* hovered navbar brand */
.navbar-brand:focus, .navbar-brand:hover {
	color: #fff;
}

/* navbar brand */
.navbar-brand {
	color: #b6bdd6;
}

.navbox {
	background-color: #f8f9fb;
	margin-bottom: 20px;
}

.navbox > h2 {
	margin: 0px;
	padding-top: 1px;
	padding-bottom: 3px;
	color: #06123b;
	background-color: #8592bb;
}

.navbox > ul {
	padding: 5px 0px 5px 30px;
}

.navbox > ul > li > a {
	color: #06123b;
}

.navbox > ul > li > a:focus, .navbox > ul > li > a:hover {
    color: #8592bb;
	text-decoration: none;
	outline-width: 0px;
}

.navbox > ul > .active > a, .navbox > ul > .active > a:focus, .navbox > ul > .active > a:hover {
    color: #8592bb;
}

.navbar-toggle {
    border-color: #b6bdd6;
}

.navbar-toggle .icon-bar {
    background-color: #b6bdd6;
}

/* form styling */
.form-row > input {
    max-width: 100%;
}

.form-row > textarea {
    width: 100%;
}
