form {
    margin-bottom: 0px;
}

body {
    background-color: #111;
    background-image: url("media/wheatley1.png");
    #background-image: url("media/wheatley2.jpg");
    background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

#content {
    margin: 15px;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 18px;
    padding-left: 15px;
    padding-right: 15px;
}

.field {
    width: 100%;
    margin-bottom: 15px;
}

.button {
    width: 100%;
    margin-bottom: 15px;
}

.bare-text {
    color: #eee;
}
